*{
    margin:0;
    padding:0;
}
body{
    background-color: lightpink;
}
h3{
    font-size: 40px;
    font-family: cursive;
    font-style: italic;
    text-align: center;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
}
input[type=text]{

    width:30vw;
    height: 5vh;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    outline: none;
    text-align: center;
    border: none;
    padding: 5px;
    font-size: 20px;
    font-family: cursive;
    border: 4px solid palevioletred;

   
}

input[type=text]:focus{

    text-align: center;
}

textarea{

    resize: none;
    overflow: hidden;
    width:30vw;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 10px;
    outline: none;
    padding: 5px;
    border: none;
    font-size: 20px;
    font-family: cursive;
     border: 4px solid palevioletred;
    
}

input[type=submit]{

    display: block;
    text-decoration: none;
    padding: 5px;
    font-weight: bolder;
    color:white;
    font-size: 20px;
    float: right;
    width: 60px;
    height: auto;
    border-radius:10px;
    border: 4px solid palevioletred;
    background-color:palevioletred;  
}

input[type=submit]:hover{

    background-color: lightpink;
    color:palevioletred;
    cursor: pointer;
}